<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Contenido principal -->
    <h1>Sobre esta aplicación</h1>
    <p>Esta página ha sido creada por Unai García, Alba González, Iris Ejarque y David Murguialday.</p>
  </body>
</html>
