<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="module" src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <h1>ELECTRONICS</h1>
    <div id="hexagon-container" class="svg-container" adminValue="<%= isAdmin %>">
      <!-- Los hexágonos se generarán aquí -->
    </div>
    <!-- Caja de descripción para mostrar información al pasar el mouse sobre un hexágono -->
    <div id="description-box" class="description-box">
      <h3 id="description-title"></h3>
      <p id="description-text"></p>
    </div>
  </body>
</html>
